.carousel-item {
    position: relative;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Blurs the background image */
    z-index: 0;
    opacity: 0.9; /* Makes it semi-transparent */
}

.carousel-item img {
    position: relative;
    z-index: 1; /* Ensures the main image stays on top */
    height: 400px;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}
