header {
    background-color: rgb(103, 205, 77);
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  